.footer {
	position: relative;
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	pointer-events: auto;

	&__img {
		height: auto;
	}

	&__up {
		position: fixed;
		right: 25px;
		bottom: 90px;
		z-index: 1;
		display: none;
		border: 1px solid $color-red;
		border-radius: 50%;
		padding: 0;
		width: 48px;
		height: 48px;
		background-color: transparent;
		opacity: 0;
		transition: opacity $duration-normal, transform $duration-normal;
		pointer-events: none;

		&.is-shown {
			opacity: 1;
			pointer-events: auto;
		}

		&--mac {
			display: block;
			border: none;
			opacity: 1;
		}

		@include hover {
			transform: translateY(-4px);
		}

		@include desktop-xl {
			right: calc((100vw - 1800px) / 2 + 25px);
		}

		@include devices {
			right: 25px;
			bottom: 25px;
			width: 30px;
			height: 30px;
		}
	}
}

.percent {
	&__val {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 14px;
		color: $color-text;
		transform: translate(-50%, -50%);

		span {
			margin-left: 6px;
		}
	}

	&__bar {
		stroke: $color-red;
	}
}
