.header {
	// position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 1;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
}

.header__inner {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 100px;

	@include devices {
		padding-top: 20px;
	}
}

.header__logo {
	display: flex;
	width: 150px;
	height: 150px;

	@include devices {
		width: 80px;
		height: 80px;
	}
}

.logo__img {
	height: auto;
}

.header__burger {
	&--open {
		display: none;
		margin-left: auto;
		width: 26px;
		color: $color-black;

		span {
			display: block;
			margin: 6.5px 0;
			height: 2px;
			background-color: $color-text;
			transition: $duration-normal;
		}
	}

	&--close {
		position: absolute;
		right: 20px;
		top: 31px;
		display: none;
		width: 21px;
		height: 21px;
		pointer-events: none;

		@include devices {
			display: block;
		}
	}

	@include devices {
		display: block;
	}
}

.header__menu {
	@include devices {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 98;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow: hidden;
		overflow-y: auto;
		margin: 0;
		padding: 60px 40px 0;
		width: 100vw;
		height: 100vh;
		background-color: $color-back;
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: transform $duration-normal, opacity $duration-normal;
		-webkit-overflow-scrolling: touch;

		&.is-active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
}

.header__list {
	display: flex;

	@include devices {
		flex-direction: column;
		margin-bottom: 20px;
	}
}

.header__link {
	position: relative;
	display: block;
	padding: 5px;
	font-weight: 700;
	font-size: 18px;
	color: $color-text;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: -25px;
		z-index: -1;
		width: 150px;
		height: 150px;
		background-image: url("/images/link-focus.png");
		opacity: 0;
		transform: translateX(-50%);
		transition: opacity $duration-normal;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $color-text;
		opacity: 0;
		transition: opacity $duration-normal;
	}

	+ a {
		margin-left: 15px;
	}

	&:focus {
		&::before {
			opacity: 1;
		}
	}

	@include hover {
		&::after {
			opacity: 1;
		}
	}

	@include devices {
		padding: 0;
		font-size: 26px;

		&::before {
			content: none;
		}

		&::after {
			content: none;
		}

		+ a {
			margin-top: 40px;
			margin-left: 0;
		}
	}
}

.header__img-wrap {
	display: none;

	@include devices {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.header__img {
	height: auto;
}
