.preloader {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: $color-back;

	&__img-wrap {
		position: absolute;
		left: 0;

		// right: 100%;
		// bottom: 0;
		top: 100%;
		transition-property: transform;

		// opacity: 0;
	}

	&__img {
		display: block;
		width: 100%;
		height: auto;
	}
}
