.standing {
	margin-top: -55px;
	margin-bottom: 50px;

	&__inner {
		position: relative;
		display: flex;
		padding-top: 108px;

		@include devices {
			flex-direction: column;
		}
	}

	&__left {
		width: 50%;

		@include devices {
			margin-bottom: 53px;
			width: auto;
		}
	}

	&__sticky-wrapper {
		position: absolute;
		left: 41.3%;
		top: -7px;
		width: 42%;
	}

	@include devices {
		margin-top: -28px;
		margin-bottom: 93px;
	}
}

.experience {
	&__title {
		margin-bottom: 30px;

		@include devices {
			margin-bottom: 18px;
		}
	}
}

.title {
	margin-top: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;

	@include devices {
		font-size: 20px;
	}
}

.pointer {
	+ li {
		margin-top: 60px;
	}

	&__item {
		font-size: 14px;
		line-height: 17px;
	}

	&__text {
		margin-bottom: 4px;
		line-height: 1.4;
	}

	&__date {
		margin-bottom: 8px;
		font-size: 14px;
		line-height: 17px;
		color: $color-gray;
	}

	&__link {
		display: block;
		margin-bottom: 3px;
		text-decoration: underline;
		color: $color-link;
	}
}

.corp {
	margin-bottom: 8px;

	&__title {
		display: flex;
		margin-bottom: 8px;
		font-weight: 700;
	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: block;
		margin-right: 8px;
		width: 30px;
		height: 30px;

		&--1 {
			background-image: url("/images/logo-1.png");
		}

		&--2 {
			background-image: url("/images/logo-2.png");
		}

		&--3 {
			background-image: url("/images/logo-3.png");
		}

		&--4 {
			background-image: url("/images/logo-4.png");
		}
	}

	&__slogan {
		margin-right: 8px;
		font-weight: 700;
	}
}

.rhombus {
	display: flex;
	margin-left: 8px;

	&__item {
		display: block;
		margin-right: -8px;
		width: 16px;
		height: 16px;
	}

	&__item-1 {
		background-image: url("/images/rhombus-1.png");
	}

	&__item-2 {
		background-image: url("/images/rhombus-2.png");
	}

	&__item-3 {
		background-image: url("/images/rhombus-3.png");
	}

	&__item-4 {
		background-image: url("/images/rhombus-4.png");
	}
}

.education {
	margin-left: auto;
	width: 100%;
	max-width: 271px;

	&__title {
		margin-bottom: 40px;
		text-align: center;

		@include devices {
			margin-bottom: 22px;
			text-align: left;
		}
	}

	&__list {
		margin-right: auto;
		margin-left: auto;
		max-width: 138px;

		@include devices {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-right: 0;
			margin-left: 0;
			max-width: none;
		}
	}

	@include devices {
		order: 1;
		max-width: none;
	}
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	line-height: 140%;

	+ li {
		margin-top: 37px;

		@include devices {
			margin-top: 0;
		}
	}

	li {
		margin-top: 30px;

		@include devices {
			margin-top: 0;
		}
	}

	&__img {
		margin-bottom: 10px;
		width: 30px;
		height: 30px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__img-1 {
		width: 62px;
		background-image: url("/images/skill-1.png");
	}

	&__job {
		margin-bottom: 5px;
		max-width: 100%;
		font-weight: 700;
		text-align: center;
	}

	&__text {
		max-width: 100%;
		text-align: center;
	}

	&__img-2 {
		background-image: url("/images/skill-2.png");
	}

	&__img-3 {
		background-image: url("/images/skill-3.png");
	}

	&__img-4 {
		background-image: url("/images/skill-4.png");
	}

	&__img-5 {
		background-image: url("/images/skill-5.png");
	}

	&__img-6 {
		background-image: url("/images/skill-6.png");
	}

	@include devices {
		justify-content: flex-start;
		margin-bottom: 20px;
		width: calc(50% - 10px);
	}
}

.man {
	position: absolute;
	left: 41.3%;
	top: -7px;
	margin-top: 116px;
	width: 42%;

	&__img {
		display: block;
		height: auto;
	}

	@include devices {
		position: static;
		margin-bottom: 45px;
	}

	@include mobile {
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
		width: 200px;
		height: 200px;
	}
}
