footer.footer(data-aos="")
	button.footer__up.js-back-to-top(type="button" area-label="на верх")
		<svg id="back-to-top" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">

			<path d="M24 36V12.3678" stroke="#282A33" stroke-width="2"/>
			<path d="M15 21.2874L24 12L33 21.2874" fill="none" stroke="#282A33" stroke-width="1.9"/>
		</svg>
	figure.footer__img-wrap(data-aos="fade-down" data-aos-duration="1000")
		+img-retina(`footer`, `png`, `hand`, `footer__img`, `512`, `288`)
