section.candidate

	.candidate__inner
		.candidate__left
			h1.candidate__title
				| Имя кандидата,
				br
				| Желаемая позиция

			p.candidate__text Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.

		.candidate__right.contacts
			a.contacts__item.mail(href="mailto:al.tulin@gmail.com") al.tulin@gmail.com
			a.contacts__item.phone(href="tel:+7 (902) 515-96-32") +7 (902) 515-96-32
			p.contacts__item.town г. Иркутск

			.contacts__socials.socials
				a.socials__item.socials__item--fb(href="" aria-label="фэйсбук")
				a.socials__item.socials__item--vk(href="" aria-label="в контакте")
				a.socials__item.socials__item--tg(href="" aria-label="телеграмм")
